
.showcase {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.showcase .welcome_slides .owl-nav {
    height: auto;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}
  
.showcase .welcome_slides .owl-nav .owl-prev,
.showcase .welcome_slides .owl-nav .owl-next {
    background-color: #fff;
    color: #e67e22;
    cursor: pointer;
    height: 40px;
    position: absolute;
    text-align: center;
    top: -20px;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    width: 40px;
    z-index: 999;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
  
.showcase .welcome_slides .owl-nav .owl-prev {
    left: -45px;
}
  
.showcase .welcome_slides .owl-nav .owl-next {
    right: -45px;
}
  
.showcase .welcome_slides .owl-nav .owl-prev:hover,
.showcase .welcome_slides .owl-nav .owl-next:hover {
    background-color: #e67e22;
    color: #fff;
}
  
.showcase .welcome_slides:hover .owl-nav .owl-prev {
    left: 15px;
}
  
.showcase .welcome_slides:hover .owl-nav .owl-next {
    right: 15px;
}
  
.showcase .welcome_slides .owl-nav .owl-prev > i,
.showcase .welcome_slides .owl-nav .owl-next > i {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
  
.default-title {
    text-align: right;
}
  
.default-title h2 {
    color: #fff;
    font-family: "Archivo-Regular", "Archivo";
    font-size: 120px;
    font-weight: 400;
    line-height: 0.9em;
    margin-right: 40px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
  
.default-title h2 span {
    font-weight: 500;
    font-size: 0.6em;
}
  
.ready .default-title {
    opacity: 1;
    transition: opacity 4s 2s;
}
  
.welcome_text {
    z-index: 3;
    position: relative;
}
  
  
@media only screen and (max-width: 600px) {
    main .slogan {
        background-image: url(/img/bg-img/stripeFrame_Mobile.svg);
    }
}
  
.showcase {
    height: 110vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
  
.showcase.ready {
    opacity: 1;
    transition: opacity 7s 0.5s;
}
  
.showcase.small_size {
    height: 600px !important;
    width: 100%;
}
  
.showcase.yt_video_background {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}
  
.showcase.yt_video_background:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background-image: url(../img/core-img/pattern-1.png);
    background-repeat: repeat;
    z-index: 5;
}

article.main .showcase video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.yt_video_background #btn-1 {
    margin-right: 15px;
}
  