main .services {
    background-color: #e3e7ed;
    border-left: solid #e3e7ed 14vw;
    border-right: solid #e3e7ed 14vw;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}
main .services h3{
    font-size: 16px;
}
main .services section {
    background-repeat: no-repeat;
    background-position: center -40px;
    background-size: 75px 85px;
    border-top: solid 65px transparent;
    padding: 70px 0 0 0;
    width: 33%;
}
main .services section ul {
    margin-bottom: 30px;
    padding: 0;
    position: relative;
    text-align: center;
    transition-duration: 500ms;
}
main .services section ul li {
    display: inline-block;
}
main .services section ul > li:not(:last-child)::after {
    content: " | ";
}

main .services .software-development {
    background-image: url("/img/icons/map-red.svg");
}
main .services .ai {
    background-image: url("/img/icons/lighthouse-grey.svg");
}
main .services .user-experience {
    background-image: url("/img/icons/telescope-teal.svg");
}
main .services .agile-transformation {
    background-image: url("/img/icons/ship-blue.svg");
}
main .services .data-analytics {
    background-image: url("/img/icons/radar-grey.svg");
}
main .services .managed-it-services {
    background-image: url("/img/icons/captain-cap-red.svg");
}
@media only screen and (max-width: 768px) {
    main .services section {
        width: 100%;
    }
}