<div class="item">
    <div class="slide_text">
        <h4>{{.name}}</h4>
        <p>{{.outcome}}</p>
    </div>
    <picture>
        {{$size:=475}}
        <source type="image/webp" srcset="img/partner-img/{{$size}}w/{{.photo}}.webp {{$size}}w">
        <source type="image/png" srcset="img/partner-img/{{$size}}w/{{.photo}}.png {{$size}}w">
        <source type="image/jpeg" srcset="img/partner-img/{{$size}}w/{{.photo}}.jpg {{$size}}w">
        <img src="img/partner-img/{{$size}}w/{{.photo}}.jpg" alt="{{.name}}">
    </picture>
    <img src="" alt="">
</div>