<div class="single_testimonial_area section_heading testimonial_author_name">
            <img src="img/testimonials-img/{{.company}}.png" title="{{.company}}">
            <h5>{{.name}}, {{.role}}</h5>
    <div class="testimonial_text">
        <h2>{{.description}}</h2>
    </div>
</div>